@import url(https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700,700i|Barlow+Condensed:400,500,600,700);

body {
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
}
.right-page h1,
.right-page h2 {
    text-transform: uppercase;
    color: #00D0C0;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin: 5px 0;
}
.btn {
    border: none;
    padding: 0.5rem 1rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 1rem;
    text-decoration: none;
}
.alert.alert-info {
    background: #00d0c0;
    color: #FFF;
    padding: 0.5rem 1rem;
}
.btn.btn-primary {
    background: #00d0c0;
    color: #FFF;
}
.btn.btn-primary.big {
    font-size: 30px;
}
.reset {
    margin-top: -1rem;
    margin-bottom: 1rem;
}
pre {
    font-size: 13px;
    color: #91878a;
    background: #EEE;
    padding: 1rem 1.5rem;
}
input[type=text],
input[type=password],
input[type=select] {
    display: block;
    border: 2px solid #5650524d;
    height: 2rem;
    width: 300px;
    padding: 0 10px;
    background: #EEEEEE80;
}
label {
    margin-top: 1rem;
    display: block;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    color: #565052;
}
table, tr, td, th {
    color: #565052;
    border-collapse: collapse;
    border-color: #CCC;
}
table {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    margin-bottom: 1rem;
}
td, th {
    padding: 0.5rem 1rem;
}
p {
    margin-top: 0;
}
h1.black {
    color: #000;
    font-size: 40px;
}
a.inherit {
    color: inherit;
    text-decoration: none;
}
a {
    text-decoration: none;
}
.container {
    background-color: #00D0C0;
    display: grid;
    grid-template: minmax(100vh, 1fr) / 50% 50%;
}
.left-page {
    grid-column: 1 / 2;
    margin: 30px 0 30px 30px;
    background-color: #fff;
    padding: 30px;
    display: grid;
    grid-template: 50px 1fr 20px / repeat(3, 1fr);
    color: #565052;
}
.left-page .date {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 14px;
    font-style: italic;
}
.left-page .cat {
    font-family: 'Roboto Condensed', sans-serif;
    grid-area: 1 / 3 / 2 / 4;
    justify-self: end;
    text-transform: uppercase;
    border: 2px solid #565052;
    align-self: start;
    padding: 10px 20px;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 0px;
}
.left-page .title {
    font-family: 'Roboto Condensed', sans-serif;
    grid-area: 1 / 1 / 4 / 3;
    text-align: left;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: #565052;
    text-transform: uppercase;
    align-self: end;
    font-size: 20vh;
    font-size: calc(0.19 * (100vh - 140px));
    margin: 0;
    letter-spacing: calc(0.06 * (100vh - 140px));
    line-height: 17vw;
    margin-top: calc(-0.07 * (100vh - 140px));
    margin-left: -3vw;
}
.left-page .title span {
    color: #00D0C0;
    display: block;
}
.left-page .author {
    grid-area: 3 / 3 / 4 / 4;
    font-size: 14px;
    color: #00D0C0;
    align-self: end;
    justify-self: end;
    font-style: italic;
    text-transform: uppercase;
    text-align: right;
}
.right-page {
    grid-column: 2 / 3;
    margin: 30px 30px 30px 0;
    background-color: #fff;
    padding: 30px;
    color: #00D0C0;
    font-size: 18px;
    line-height: 1.65;
    border-left: 1px dashed #f1f1f1;
    overflow: auto;
    max-height: 100%;
}
.right-page p:last-of-type {
    margin-bottom: 0;
}
.right-page a {
    color: #00D0C0;
}
@media (max-height: 592px) {
    .left-page .title {
        font-size: 85.88px;
        letter-spacing: 27px;
    }
}
@media (min-width: 800px) and (max-width: 1200px) {
    .left-page .title {
        line-height: 14vw;
    }
}
@media (max-width: 799px) {
    .container {
        grid-template: auto / auto;
    }
    .left-page {
        grid-column: 1 / 2;
        margin: 30px 30px 0;
    }
    .right-page {
        grid-column: 1 / 2;
        margin: 0 30px 30px;
        border-top: 1px dashed #f1f1f1;
        border-left: none;
    }

    .left-page .title {
        line-height: 26vw;
    }
}
@media (max-width: 450px) {
    .left-page .title {
        line-height: 1.5;
        font-size: 40px;
        grid-area: 2 / 1 / 4 / 3;
    }
}